#hero-about {
  margin-top: 90px;
  .p-cstm {
    padding: 7rem;
    .title {
      color: $primary;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 575.98px) {
    .back {
      min-height: 250px;
    }
    .p-cstm {
      padding: 2.5rem;
    }
  }
}
#sctn-abt {
  .p-cstm {
    padding: 7rem;
    .title {
      color: $primary;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 575.98px) {
    .back {
      min-height: 250px;
    }
    .p-cstm {
      padding: 2.5rem;
    }
  }
}
