#hero {
  .col-6 {
    max-height: 100%;
  }
  .cta-btn {
    background-color: $primary;
    height: 100%;
    position: relative;
    .txt {
      width: 60%;
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      .title {
        color: $white;
      }
    }
  }
  @media (max-width: 575.98px) {
    .cta-btn {
      .txt {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0);
        padding: 1.5rem;
        .title {
          font-size: 30px;
          display: inline-block;
        }
        .btn {
          display: inline-block;
        }
      }
    }
  }
}
